[Desktop Entry]
Type=Application
Version=1.0
Name=Luke Home
Comment=The Luke home surface
Exec=/home/aman/.luke/bin/luke-shell
Terminal=false
X-Luke=1